<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StressDB</title>
</head>
<style>

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .box {
    font: 10px sans-serif;
  }
  
  .box line,
  .box rect,
  .box circle {
    /* fill: red; */
    stroke: #000;
    stroke-width: 1px;
  }
  
  .box .center {
    stroke-dasharray: 3,3;
  }
  
  .box .outlier {
    fill: none;
    stroke: #000;
  }
  
  .axis {
    font: 12px sans-serif;
  }
   
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
   
  .x.axis path { 
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
  
</style>
<script src="//d3js.org/d3.v3.min.js"></script>
<body>

  <div class="container" style="text-align: center; margin: 5rem;">
    <form action="" method="GET">
        <input type="text" name="gene" placeholder="Search gene">
        <button type="submit">Search</button>
    </form>
  </div>
  <div style="text-align: center; margin: 3rem;">
    <h5>{{ query }}</h5>
  </div>

  <div id='boxplot' style="text-align: center;"></div>


<script src="/static/box2.js"></script>
<script>
  var dataset = {{ json| safe }};

  var labels2 = true; 
      var color = d3.scale.ordinal()
          .range(["#DFFF00", "#40E0D0", "#9FE2BF", "#6495ED"]);

      var colors = {
        "A.shoot": "#DFFF00", "Root": "#40E0D0", "Leaf": "#9FE2BF", 'M.leaf':"#6495ED"
      };
          
      var margin = {top: 30, right: 50, bottom: 70, left: 50};
      var width = 1000 - margin.left - margin.right;
      var height = 400 - margin.top - margin.bottom;
          
      var min = Infinity,
          max = -Infinity;
          
      var x0 = d3.scale.ordinal()
          .rangeRoundBands([0, width], .1);
      
      var x_1 = d3.scale.ordinal();
      
      var y_0 = d3.scale.linear()
          .range([height + margin.top, 0]);
      
      var xAxis1 = d3.svg.axis()
          .scale(x0)
          .orient("bottom");
      
      var yAxis1 = d3.svg.axis()
          .scale(y_0)
          .orient("left");
          //.tickFormat(d3.format(".2s"));
          
      var svg1 = d3.select("#boxplot").append("svg")
          .attr("class", "box")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      
      var svg2 = d3.select("#boxplot").append("svg")
        .attr("class", "box")
        .attr("width", 50 + margin.left + margin.right) //
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + ',' + margin.top + ")");
    
      var Groups = d3.map(dataset, function(d){return d.Group;}).keys();
      var Dates = d3.map(dataset, function(d){return d.x;}).keys();
      
      var dataset2 = [];
      var tmp = [];
      Dates.forEach(function(date) {
        data_tmp = []
        Groups.forEach(function(group) {
          tmp = [];
          dataset.forEach(function(d) {
            if(d.x == date && d.Group == group){
              tmp.push(d.y);
            }else{
              return true;
            };
          });
          if(tmp.length != 0){
            data_tmp.push({group: group, value: tmp});
          }
          
        });
        dataset2.push({Date: date, Data: data_tmp});
      });


      
      min = d3.min(dataset, function(d){ return d.y }) * 0.995;
      max = d3.max(dataset, function(d){ return d.y }) * 1.005;
      
      x0.domain(dataset.map(function(d) { return d.x; }));
      x_1.domain(Groups).rangeRoundBands([0, x0.rangeBand()]);
      y_0.domain([min, max]);
      
      svg1.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + (height + margin.top) + ")")
          .call(xAxis1);
    
      svg1.append("g")
          .attr("class", "y axis")
          .call(yAxis1)
        .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("TPM");
      
      var boxplot = d3.box2()
            .whiskers(iqr(1.5))
            .width(x_1.rangeBand())
            .height(height + margin.top)	
            .domain([min, max])
            .showLabels(labels2);
      
      var state = svg1.selectAll(".state2")
          .data(dataset2)
        .enter().append("g")
          .attr("class", "state")
          .attr("transform", function(d) { return "translate(" +  x0(d.Date)  + ",0)"; } );
        
      state.selectAll(".box")
          .data(function(d) { return d.Data; })
          .enter().append("g")
            .attr("transform", function(d) { return "translate(" +  x_1(d.group)  + ",0)"; } )
          .call(boxplot); 

    var keys = []
    for (var key in colors) { keys.push(key); }

    var legend = svg2.selectAll(".legend")
      .data(keys.slice())
      .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });

    legend.append("rect")
      .attr("x", 20)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", function (d) { return colors[d]; });

    legend.append("text")
      .attr("x", 16)
      .attr("y", 9)
      .attr('font-size', 20)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function (d) { return d.split(';')[0] });
    
    // Returns a function to compute the interquartile range.
    function iqr(k) {
      return function(d, i) {
        var q1 = d.quartiles[0],
            q3 = d.quartiles[2],
            iqr = (q3 - q1) * k,
            i = -1,
            j = d.length;
        while (d[++i] < q1 - iqr);
        while (d[--j] > q3 + iqr);
        return [i, j];
      };
    }
</script>
</body>
</html>